/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */
a {
	color: $color-abacus-red;
	text-decoration: none;
	outline: 0;
	transition: color $fade-quick ease-out, box-shadow $fade-quick ease-out;

	&:hover, &:focus {
		text-decoration: underline;
	}
}
